@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --headline-font-family: 'Rubik', sans-serif;
    --text-font-family: 'Lato', sans-serif;
    --text-color: #000000;
    --body-background-color: #97c7cf;
    --hover-color: #344c44;

}

* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
}

.header_banner {
background-image: url(../img/banner.jpg);
background-size: cover;
width: 100%;
height: auto;
}

.header_banner-box {
    width: 100%;
    height: 720px;
    display: block;
}

.header_nav {
    width: 100%;
    height:70px;
    box-shadow: 0 90px 90px rgba(0, 0, 0, 1);
}

.logo,
.nav__container {
    display: inline-block;
    vertical-align: middle;
}

.header_nav {
display: flex;
justify-content: space-between;
padding-top: 10px;
}

.header__nav-list,
li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    margin-top: 10px;
}

.header__nav-list,
a {
    font-family: var(--headline-font-family);
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    vertical-align: middle;
    text-decoration: none;
}

.header__nav-list a:hover {
    color: var(--hover-color);
}

.logo,
p {
    font-family: var(--headline-font-family);
    font-size: 40px;
    font-weight: 700;
    margin-right: 30px;
    padding-top: 5px;
    padding-left: 20px;
}

