
:root {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --text-color: #000000;
}

* {
    margin: 0;
    padding: 0;
}

.container {
max-width: 980px;
margin: auto;
}

p:hover {
    text-decoration: underline;
}

.header-banner__button {
    color: aquamarine;
}

h1 {
border: 1.5px solid rgb(253, 253, 253);
}


h2 {
    text-decoration: underline;
    color:blueviolet;
}

ul {
    list-style-type: none;
  }


/*.container-title {
    background: linear-gradient (rgba(19, 18, 18, 0.707), rgba(235, 215, 215, 0.5)) !important;
}

/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: rgb(238, 238, 238);
    font-family: "Lato", sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    position: sticky;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    padding: 0 20px;
    align-content: center;
    min-width: 971px;
    top: 0;
    background-color: rgb(238, 238, 238);
}

.header__logo {
    max-width: 300px;
    margin-left: 20px;
    height: 34.1375px;
    display: block;
    width: 60vw;
    align-self: center;
}



.header__nav {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40vw;
    align-self: center;
}

.header__link {
    text-decoration: none;
}

#nav-bar {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    background-color: #eee;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}


ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.header__nav {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40vw;
    align-self: center;
}

@media (max-width: 600px) {
    body {
        font-size: 12px;
    }

    header {
        flex-direction: column;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 16px;
    }

    form {
        left: 5vw;
        width: 80vw;
        padding: 10px;
        border: 1px solid var(--accent-color);
    }

    input {
        margin: 10px;
        padding: 3px;
    }

}

#header-img {
width: 40px;
height: 40px;
}
*/