
.banner {
background-image: url(/img/banner-image.jpg);
background-attachment: fixed;
min-height: 100vh;
background-size: cover;
}

.header__logo {
    width: 80px;
    height: 80px;
}

header {
font-size: 1.5rem;
text-decoration: none;
text-transform: uppercase;
text-align: center;

}

#header__nav {
    background-color: rgba(209, 161, 241, 0.171);
    background-size: cover;
    width: ;
}

.nav-bar {
    display: flex;
    flex-direction: column;
}
