
/*.banner {
background-image: url(/img/banner-image.jpg);
background-attachment: fixed;
min-height: 100vh;
background-size: cover;
}

header {
font-size: 1.5rem;
text-decoration: none;
text-transform: uppercase;
text-align: center;

}*/
